#success_message{ display: none;}

body {
	background-image: url("../img/background.jpg");
	background-size: cover;
}

.well {
	margin-top: 70px;
	margin-bottom: 70px;
}

.has-feedback .form-control {
    padding-right: 5px;
}
